body {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    background-color: white;
}

.container {
    margin: 20px auto;
    max-width: 960px;
    border: 15px solid #9A9483;
    box-shadow: #ccc 0px 10px 15px;
    background-color: #E5DCC3;
}

.header {
    padding: 0 45px;
    background-color: #9A9483;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.sidebar {
    width: 30%;
    float: left;
}

.sidebar h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2rem;
    color: black;
    padding: 3px;
    text-align: center;
    background-color: #AAA492;
}

.sidebar-inner {
    margin-top: 15px;
    margin-right: 10px;
    padding: 10px 20px;
    background-color: #C7BEA2;
}

    .sidebar-inner li {
        border-bottom: 1px solid #e6effc;
        list-style: outside;
        margin-right: 20px; cho đường kẻ ngắn lại
        padding: 5px 0;
    }

        .sidebar-inner li a {
            display: inline-block;
            text-decoration: none;
            color: #000;
            border-bottom: 1px dashed groove;
        }

            .sidebar-inner li a:hover {
                color: #9A9483;
                font-weight: bold;
            }

.content {
    width: 70%;
    float: right;
}

.content-inner {
    padding: 20px;
}


.footer {
    clear: both;
    text-align: center;
    padding: 20px 0;
    color: black;
    font-size: 1.5rem;
}
